body {
    background-color: burlywood;
    font-family: sans-serif;
}

h1 {
    color: darkgreen;
    font-size: 2em;
}

h3 {
    text-decoration: underline
;
}

h4 {
    margin-top: 2.5em ;
    color: rgb(204, 74, 74);
}
p {
    font-weight: lighter;
    font-size: 1.2em;
}

